:root {
  --base-text-color: #212121;
  --dark-background: #2f303a;
  --light-background: #f5f4fa;
  --accent-color: #2196f3;
  --accent-hover-color: #188CE8;
  --text-color-white: #ffffff;
  --text-color-grey: #757575;
  --white-background: #ffffff;
  --grey-border: #eeeeee;
  /* --container-width: 1170px; */
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--base-text-color);
  /* margin: 0; */
}

/* .container {
  width: var(--container-width);
  margin: auto; 
}*/

.solution,
.footer {
  background-color: var(--dark-background);
}

.our-team {
  background-color: var(--light-background);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: var(--base-text-color);
  text-decoration: none;
  letter-spacing: 0.03em;
  /* margin-right: 93px; */
}

.logo-white {
  color: var(--text-color-white);
}

.logo-span {
  color: var(--accent-color);
}

.navigation-link,
.contact-link {
  color: var(--base-text-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  /* margin: 0px 50px 0px 0px; */
}

/* .navigation-link:last-child,
.contact-link:last-child {
  margin: 0px;
} */

.navigation-link-active {
  color: var(--accent-color);
}

/* .navigation {
  flex: 1;
} */

.solution-title {
  font-weight: 900;
  font-size: 44px;
  color: var(--text-color-white);
  text-align: center;
  text-transform: uppercase;
  width: 700px;
  margin: auto;
  letter-spacing: 0.06em;
}

/* #solution {
  padding: 200px 0;
} */

.solution-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-color-white);
  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 30px auto 0px;
  padding: 10px 32px;
  cursor: pointer;
}

.solution-button:hover {
  background-color: var(--accent-hover-color) ;
}

/* .container-benefits {
  padding: 94px 0px;
  display: flex;
  justify-content: center;
  width: var(--container-width);
  margin: auto;
} */

/* .benefits-block {
  margin: 0px 30px 0px 0px;
  text-align: left;
  flex: 1;
} */

/* .container-benefits .benefits-block:last-child {
  margin: 0px;
} */

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--base-text-color);
  /* margin: 0px 0px 10px 0px; */
}

.benefits-info {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--text-color-grey);
}

/* .container-work {
  padding: 0px 0px 94px 0px;
  width: var(--container-width);
  margin: auto;
} */

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  /* margin: 0px 0px 50px 0px; */
}

/* .work-list {
  display: flex;
  justify-content: space-between;
} */

.our-team {
  background-color: var(--light-background);
}

/* .container-team {
  padding: 94px 0px;
  width: var(--container-width);
  margin: auto;
}

.team-list {
  display: flex;
  justify-content: space-between;
} */

.teammate {
  background-color: var(--white-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
} 

.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height:42px;
  letter-spacing: 0.03em;
  text-align: center;
  /* margin: 0px 0px 50px 0px; */
}

.teammate-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  /* margin: 26px 0px 10px 0px; */
}

.teammate-role {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-grey);
  /* margin: 0px 0px 30px 0px; */
}

/* .container-address {
  padding: 60px 0px;
  width: var(--container-width);
  margin: auto;
} */

.footer-address {
  /* margin: 20px 0px 10px 0px; */
  font-style: normal;
} 

.contact-adress {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--text-color-white);
  text-decoration: none;
}

.link-contact {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--text-color-grey);
  text-decoration: none;
}

/* .footer-contact {
  margin-top: 10px;
} */

/* .container-portfolio {
  padding: 94px 0px;
  width: var(--container-width);
  margin: auto;
} */

/* .portfolio-filters {
  text-align: center;
  margin-bottom: 50px;
} */

.portfolio-filters {
  font-family: inherit;
  font-weight: 500;
  border-radius: 4px;
  color: var(--light-background);
  border: none;
  color: var(--base-text-color);
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  /* padding: 9px 22px;
  margin-right: 8px; */
  
}

/* .portfolio-filters button:last-child {
  margin: 0px;
} */

.filters-button:hover {
  background: var(--accent-color);
  color: var(--text-color-white);
  cursor: pointer;
  /* box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12); */
}

/* .product-line {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
} */

/* .product-card {
  border: 1px solid var(--grey-border);
} */

.product-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  /* line-height: 1.7;
  margin: 16px 24px 4px; */
}

.product-category {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  /* margin: 0 24px 20px; */
}

.product-category {
  color: var(--text-color-grey);
}

.navigation-link:hover,
.contact-link:hover,
.footer-contact:hover,
.link-contact:hover {
  color: var(--accent-color);
}

.navigation-link:focus,
.contact-link:focus,
.footer-contact:focus,
.link-contact:focus {
  color: var(--accent-color);
}
